body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 900px;
    color: #646464;
}

a {
    text-decoration: none;
    color: #646464;
}
/***********    Navigation  ***********/
.nav {
    text-decoration: none;
    background-color: rgb(248, 248, 248);
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    padding: 10px 10px 10px 10px;
    width: 1000px;
    margin: auto;
}

    .nav > li {
        display: inline-block;
    }

        .nav > li > a {
            text-decoration: none;
            color: rgb(167, 167, 167);
            padding: 0px 55px 0px 55px;
            border-right: rgb(228, 228, 228) solid 1px;
        }

        .nav > li:last-child > a {
            border-right: 0px;
        }


.nav-container {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    font-family: cambria;
    font-size: 14px;
    background-color: rgb(248, 248, 248);
}

.translate-container {
}
/***********    Banner  ***********/
.banner {
    background-image: url("Images/banner-top-background-green.jpg");
    font-family: Cambria, 'Times New Roman';
}

.banner-container {
    height: 85px;
    width: 900px;
    margin: auto;
    color: rgb(95, 95, 95);
}

.banner-logo {
    float: left;
    width: 45px;
    margin: 9px 0px 0px 0px;
}

.banner-text {
    float: left;
    font-size: 39px;
    margin: 15px 0px 0px 0px;
}



.banner-addText {
    float: left;
    font-size: 14px;
    margin: 14px 0px 0px 57px;
}

    .banner-addText ul {
        list-style: none;
    }

.translate-container {
    float: right;
    margin-top: 21px;
}

.btn-translation {
    background-color: rgb(136, 187, 165);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(55, 168, 101);
    box-shadow: 1px 1px 1px -1px;
}

    .btn-translation:hover {
        box-shadow: inset 1px 1px 1px -1px;
    }

    .btn-translation a, btn-translation a:hover {
        text-decoration: none;
        color: rgb(235, 235, 235);
    }

.btn-translation-sm {
    display: none;
}
/*********  Body  *********/
.body {
    background-image: url("Images/background-green.jpg");
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    background-repeat: repeat-y;
    padding-bottom: 20px;
    min-height: 754px;
}

.body-content {
    width: 900px;
    margin: auto;
}

.body-left {
    float: left;
}

.body-page {
    float: right;
    width: 680px;
    margin: 10px 0px 10px 5px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: 7px 8px 6px -10px;
    border-radius: 10px;
    min-height: 594px;
}

.link-box {
    width: 204px;
    height: 187px;
    margin: 10px 10px 10px 0px;
}

    .link-box img {
        width: 200px;
        margin: 2px;
    }

.link-box-text {
    margin: -85px 0px 0px 10px;
    font-size: 12px;
    font-weight: 600;
}

.greyBoxText {
    margin: -130px 0px 0px 10px;
}

.footer {
    width: 100%;
    height: 74px;
    position: relative;
    bottom: 0;
    left: 0;
    background-image: url("Images/footer-green.jpg");
    background-position-x: left;
    background-position-y: top;
    border-top: 4px solid rgb(134, 172, 147);
}


/********** Index   ***********/
.index-img {
    width: 240px;
    float: right;
}

.index-header {
    box-shadow: 0px 6px 9px -8px;
}

    .index-header h1 {
        padding: 0px 0px 14px 0px;
        font-size: 39px;
    }

.home-text {
    font-size: 12px;
}

@media(max-width:600px) {

    body {
        width: auto;
        min-width: 0;
    }

    .body {
        padding-bottom: 0px;
    }
    /***********    Navigation  ***********/
    ul > .nav {
        display: none;
    }

    .nav > li {
        display: block;
        text-align: left;
    }

        .nav > li > a {
            text-decoration: none;
            margin: 10px 0px 13px 0px;
            border-right: none;
            border-bottom: 1px solid white;
            padding: 0px;
        }

    .nav {
        display: none;
    }

    .nav-btn::before {
        content: "Menu";
        width: 97%;
        margin: 1px 0px 0px 10px;
        padding: 0px;
        cursor: pointer;
        display: block;
    }


    .nav-container {
        border-bottom: 7px solid white;
        border-top: 3px solid white;
        font-family: cambria;
        font-size: 14px;
        background-color: rgb(238, 238, 238);
    }


    /**********Body ***********/
    .body-page {
        float: none;
        width: 100%;
    }

    .body-content {
        width: 90%;
    }

    .body-left {
        width: 105%;
        float: none;
    }

    .link-box {
        width: 43%;
        height: auto;
        margin: auto;
        margin-bottom: 51px;
        margin-left: 9px;
        float: left;
    }

        .link-box img {
            width: 100%;
            margin: 2px;
            display: block;
        }

    .link-box-text {
        margin: -62px 0px 0px 12px;
    }

    .box-descText {
        display: none;
    }

    .greyBoxText {
        margin: -80px 0px 0px 23px;
        width: 90%;
    }

    .greybox {
        width: 91%;
    }

        .greybox img {
            width: 98%;
            height: 106px;
        }
    /***********    Banner  ***********/
    .banner-container {
        height: 50px;
        width: 100%;
        margin: auto;
        color: rgb(95, 95, 95);
    }

    .banner-logo {
        float: left;
        width: 29px;
        margin: 6px 0px 0px 6px;
    }

    .banner-text {
        float: left;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
    }

    .banner-addText {
        display: none;
    }

    .translate-container {
        display: none;
    }
    /********** Index   ***********/
    .index-img {
        width: 100%;
    }

    .btn-translation-sm {
        margin: 0px 10px 0px 0px;
        padding: 0px 0px 0px 9px;
        cursor: pointer;
        display: block;
        float: right;
        border-left: 1PX SOLID lightgrey;
    }

        .btn-translation-sm a {
            text-decoration: none;
            color: #646464;
        }
}



@media(max-width:450px) {

    .link-box {
        width: 45%;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
        margin-left: 9px;
        float: left;
    }

        .link-box img {
            width: 100%;
            margin: 2px;
            display: block;
        }

    .link-box-text {
        margin: -54px 0px 0px 10px;
    }

    .box-descText {
        display: none;
    }

    .greyBoxText {
        margin: -80px 0px 0px 16px;
        width: 90%;
    }

    .body-left {
        margin-bottom: 15px;
    }

    .greybox {
        width: 95%;
    }

        .greybox img {
            width: 98%;
            height: 106px;
        }
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}










/* Styles for validation helpers
-----------------------------------------------------------*/
hr {
    border: 0;
    border-top: 1px solid #E0E0E0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/*--------- validation ----------*/
.error {
    border: 2px solid red;
}

/*--------- bootstrap override ----------*/
ul, ol {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    padding: 0px;
    margin: 0px;
}
