body {
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}


/*------------------Navigation---------------------- */

.nav-container {
    background: rgb(97, 97, 97);
}

    .nav-container ul {
        list-style: none;
    }

    .nav-container li {
        float: left;
    }

    .nav-container a {
        text-decoration: none;
        text-decoration: none;
        color: white;
        margin: 0px 27px 0px 0px;
    }

        .nav-container a:hover {
            text-decoration: none;
        }
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}



/*--------- bootstrap override ----------*/
ul, ol {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
}
