body {
    font-size: 14px;
    font-family: inherit;
    color: #232323;
    background-color: rgb(241, 241, 241)!important;
    width: 100%;
    text-align: center;
}

header,
footer,
nav,
section {
    display: block;
}







/*------------------*general styles*-------------------*/
.centerMe {
    width: 950px;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.contentContainer {
    float: right;
    width: 70%;
}


.links-container {
    float: left;
    width: 250px;
}

.pic-links {
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 200px;
    margin: 25px 0px 0px 0px;
    border-left: 7px solid rgb(72, 137, 197);
    border-radius: 3px;
}

.pic-links-text {
    padding: 5px 0px 0px 15px;
}

.bodyContainer {
}


/*------------------Navigation---------------------- */
.headerContainer {
    background: rgb(97, 97, 97);
    width: 100%;
}

.nav-container {
    height: 40px;
    padding: 10px 0px 0px 0px;
}

    .nav-container ul {
        list-style: none;
        float: left;
    }

    .nav-container li {
        float: left;
    }

    .nav-container a {
        text-decoration: none;
        text-decoration: none;
        color: white;
        margin: 0px 27px 0px 0px;
    }

        .nav-container a:hover {
            text-decoration: none;
        }

.btn-translation {
    float: right;
}

.endOfContent {
    background-image: url(Images/line.jpg);
    background-position-x: left;
    background-position-y: top;
    background-repeat: repeat-x;
    height: 5px;
    margin-top: 25px;
}








/*-----------------------Banner---------------------------*/

.banner {
    background-color: rgb(72, 137, 197);
    height: 100px;
}

.logo {
    font-size: 49px;
    display: block;
    color: white;
    font-family: -webkit-pictograph;
}







/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}










/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/*--------- validation ----------*/
.error
{
    border: 2px solid red;
}

/*--------- bootstrap override ----------*/
ul, ol {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
