@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    <h1>@SmitWinkel.Resources.Home.Index.Header</h1>
    <p>@SmitWinkel.Resources.Home.Index.Content</p>

</div>