@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="home-text">
    <h1>@SmitWinkel.Resources.Home.Index.Header</h1>
    <p>@SmitWinkel.Resources.Home.Index.Content</p>

</div>
